body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  background-image: url("img/background.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  position: relative;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
}

.table {
  position: relative;
}

.player-panel {
  display: flex;
  font-size: 32px;
  margin-bottom: 32px;
}

.player-panel img {
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.player-panel div {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}

.palyer-inactiv {
  opacity: 0.5;
}

tr {
  width: 399px;
}

td {
  position: relative;
  width: 133px;
  height: 133px;
  border: 3px solid #030903;
  outline: 12px inset #909090;
  ;
  outline-offset: -20px;
  border-left: 0;
  cursor: pointer;
}

td:hover {
  background-color: rgb(236, 235, 235);
}

tr td:last-child {
  border-right: 0;
}

table tr:first-child td {
  border-bottom: 0;
}

.table-top {
  border-top: 0;
}

table {
  border-collapse: collapse;
}

.shape {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 25px;
  left: 25px;
}

.d-none {
  display: none;
}

.horizontal {
  z-index: 1;
  width: 371px;
  height: 10px;
  background-color: #9f9f9f;
  ;
  position: absolute;
  transform: scaleX(0.0);
  transition: transform 225ms ease-in-out;
}

.vertikal {
  transform: rotate(90deg);
  transform: scaleX(0.0);
  z-index: 1;
  width: 363px;
  height: 10px;
  background-color: #9f9f9f;
  ;
  position: absolute;
  transition: transform 225ms ease-in-out;
}

.game-over {
  position: absolute;
  left: 10%;
  right: 10%;
  width: 80%;
  z-index: 2;
  border-radius: 20%;
  animation: zoomIn 225ms ease-in-out;
}

.morty-over {
  position: absolute;
  left: 10%;
  right: 10%;
  width: 80%;
  z-index: 2;
  border-radius: 20%;
  animation: zoomIn 225ms ease-in-out;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.restart-button {
  border: 1px solid rgb(0, 0, 0, 0.5);
  background-color: rgba(204, 175, 109, 255);
  z-index: 2;
  width: 300px;
  height: 100px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  top: 500px;
  position: absolute;
  border-radius: 50%;
}

.restart-button:hover {
  background-color: #686666;
}

@media (max-width: 375px) {

  td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 3px solid #030903;
    outline: 12px inset #909090;
    ;
    outline-offset: -20px;
    border-left: 0;
    cursor: pointer;
  }

  .div-table {
    width: 200%;
    height: 160%;
  }

  .shape {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 26px;
    left: 18px;
  }

  .line1 {
    bottom: 334px !important;
    left: 20px !important;
    width: 310px;
    transform: scaleX(0.0);
  }

  .line2 {
    bottom: 195px !important;
    left: 20px !important;
    width: 310px;
    transform: scaleX(0.0);
  }

  .line3 {
    bottom: 60px !important;
    left: 20px !important;
    width: 310px;
    transform: scaleX(0.0);
  }

  .line4 {
    bottom: 196px !important;
    right: -5px !important;
    width: 363px;
  }

  .line5 {
    bottom: 196px !important;
    right: 113px !important;
    width: 363px;

  }

  .line6 {
    bottom: 198px !important;
    left: -18px !important;
    width: 391px;
    transform: rotate(-45deg) scaleX(1);
    position: absolute;
  }

  .line7 {
    bottom: 196px !important;
    left: 111px !important;
    width: 363px;

  }

  .line8 {
    bottom: 198px !important;
    left: -18px !important;
    width: 391px;
    transform: rotate(-45deg) scaleX(1);
    position: absolute;
  }

  .game-over {
    position: absolute !important;
    left: -56% !important;
    right: 10% !important;
    width: 212% !important;
    z-index: 2 !important;
    border-radius: 20% !important;
    animation: zoomIn 225ms ease-in-out !important;
    height: 411px !important;
    top: 82px !important;
  }

  .morty-over {
    position: absolute !important;
    left: -56% !important;
    right: 10% !important;
    width: 212% !important;
    z-index: 2 !important;
    border-radius: 20% !important;
    animation: zoomIn 225ms ease-in-out !important;
    height: 411px !important;
    top: 82px !important;
  }

}




@media (min-width: 600px) {

  .game-over {
    position: absolute;
    height: 85%;
    left: 1%;
    width: 97%;
    z-index: 2;
    border-radius: 20%;
    animation: zoomIn 225ms ease-in-out;
  }

  .morty-over {
    position: absolute;
    height: 85%;
    left: 1%;
    width: 97%;
    z-index: 2;
    border-radius: 20%;
    animation: zoomIn 225ms ease-in-ou
  }
}

@media (max-width: 599px) {
  .game-over {
    position: absolute;
    height: 65%;
    left: 1%;
    width: 97%;
    z-index: 2;
    border-radius: 20%;
    animation: zoomIn 225ms ease-in-out;
  }

  .morty-over {
    position: absolute;
    height: 65%;
    left: 1%;
    width: 97%;
    z-index: 2;
    border-radius: 20%;
    animation: zoomIn 225ms ease-in-out;
  }
}